.navigation{
    display: flex;
    flex-flow: row-reverse;
    position: relative;
    left: 20px;
    width: 1280px;
}.nav1{
    position: relative;
    left: 730px;
}.profile-image{
    position: relative;
    left: 300px;
    bottom: 250px;
}.paragraph{
    align-self: flex-end;
    direction: rtl;
}.My-Goals{
    display: flex;
    flex-flow: column wrap;
}.Goals{
    align-self: flex-end;
}.Goal-title{
    align-self: flex-end;
}.Goal1{
    width: 180px;
    padding-left: 80px;
} .Project-card1 span,.Project-card2 span{
    position: relative;
    left: 240px;
}.Project-card1 a{
    position: absolute;
    top: 435px;
}.Project-card2 a{
    position: absolute;
    top: 435px;
    left: 35px;
}.footer{
    display: flex;
    flex-flow: row-reverse wrap;
}@media (min-width: 350px) and (max-width: 600px){
    .navigation{
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: flex-end;
        gap: 20px;
        position: relative;
        left: 40px;
    }.nav1{
        position: relative;
        left: 10px;
    }.Goal1{
        width: 210px;
    }.profile-image{
        position: relative;
        left: 100px;
    }.Project-card1 span{
        position: relative;
        left: 215px;
    }.footer{
        width: 425px;
    }
}